1html,body {
    padding:0;
    margin:0;
}

#wrapper {
    position:absolute;
    height:100%;
    width:100%;
}

.panels {
    position:relative;
    width:100%;
    /* z-index:1000; */
}

#a{
    //background:#eee;
    position:fixed;
    top:0;
    /* z-index:0; */
}

#b{
   margin-top: 92.5vh;
}

#c{

}

#d{

}
